# jac2dat records
bak_jac2dat.pl/
jac2dat_baker.bat
bak_det_fitted.j2d/
bak_det_nonfitted.j2d/
det_baker.bat
refs/
utils/

# Updates
updates.txt

# jac2dat sample files
kaken*.j2d
kurns*.j2d

# MSWin link files
*.lnk

# POD-related
jac2dat_usage.bat
jac2dat.html
pod2htmd.tmp
jac2dat_pod2html.bat
